In [2]:
import pandas as pd
import numpy as np
from IPython.display import display
from sklearn.datasets import make_classification, make_regression
from ProQSAR.ModelDeveloper.model_developer import ModelDeveloper
from ProQSAR.Uncertainty.conformal_predictor import ConformalPredictor

def create_classification_data(
    n_samples=40, n_features=40, n_informative=10, random_state=42
    ):
    X, y = make_classification(n_samples=n_samples, n_features=n_features,
                                n_informative=n_informative, random_state=random_state)
    data = pd.DataFrame(X, columns=[f'Feature{i}' for i in range(1, n_features + 1)])
    data["ID"] = np.arange(n_samples)
    data["Activity"] = y
    return data

def create_regression_data(
    n_samples=40, n_features=40, n_informative=10, random_state=42
    ):
    X, y = make_regression(n_samples=n_samples, n_features=n_features, n_informative=n_informative, random_state=random_state)
    data = pd.DataFrame(X, columns=[f'Feature{i}' for i in range(1, n_features + 1)])
    data["ID"] = np.arange(n_samples)
    data["Activity"] = y
    return data

train_data = create_classification_data(random_state=42)
cal_data = create_classification_data(random_state=41)
test_data = create_classification_data(random_state=40)

In [3]:
from IPython.display import display
model = ModelDeveloper(activity_col="Activity", id_col="ID", select_model="KNeighborsClassifier", n_jobs=-1)
model.fit(train_data)
model.classes_
model.predict(test_data)

    ID  Predicted values  Probability for class 0  Probability for class 1
0    0                 0                     0.55                     0.45
1    1                 1                     0.45                     0.55
2    2                 1                     0.35                     0.65
3    3                 1                     0.45                     0.55
4    4                 1                     0.45                     0.55
5    5                 1                     0.45                     0.55
6    6                 1                     0.45                     0.55
7    7                 0                     0.55                     0.45
8    8                 1                     0.45                     0.55
9    9                 1                     0.45                     0.55
10  10                 1                     0.35                     0.65
11  11                 1                     0.45                     0.55
12  12                 0                     0.50                     0.50
13  13                 0                     0.50                     0.50
14  14                 1                     0.45                     0.55
15  15                 1                     0.45                     0.55
16  16                 1                     0.40                     0.60
17  17                 1                     0.40                     0.60
18  18                 1                     0.45                     0.55
19  19                 1                     0.45                     0.55
20  20                 0                     0.55                     0.45
21  21                 1                     0.35                     0.65
22  22                 1                     0.35                     0.65
23  23                 1                     0.40                     0.60
24  24                 1                     0.40                     0.60
25  25                 1                     0.45                     0.55
26  26                 0                     0.50                     0.50
27  27                 1                     0.45                     0.55
28  28                 1                     0.45                     0.55
29  29                 0                     0.55                     0.45
30  30                 0                     0.50                     0.50
31  31                 1                     0.45                     0.55
32  32                 1                     0.30                     0.70
33  33                 1                     0.40                     0.60
34  34                 1                     0.40                     0.60
35  35                 0                     0.50                     0.50
36  36                 1                     0.25                     0.75
37  37                 0                     0.50                     0.50
38  38                 1                     0.30                     0.70
39  39                 1                     0.45                     0.55

In [4]:
# class: calibrate(X, y, oob=False, mc=None, seed=None, class_cond=False, nc=<function hinge>)
# reggg: calibrate(X, y, oob=False, mc=None, seed=None, cps=False, de=None)

In [5]:
unc = ConformalPredictor(model=model, activity_col="Activity", id_col="ID")
unc.calibrate(data=cal_data)
unc.predict(data=cal_data, confidence=0.99)

    ID Predicted set  P-value for class 0  P-value for class 1  Actual values
0    0          0, 1             0.228828             0.707947              0
1    1          0, 1             0.385039             0.753084              1
2    2          0, 1             0.680230             0.221313              0
3    3          0, 1             0.156296             0.883580              0
4    4          0, 1             0.208325             0.879413              0
5    5          0, 1             0.641932             0.581625              1
6    6          0, 1             0.282970             0.822299              0
7    7          0, 1             0.129171             0.818456              1
8    8          0, 1             0.131710             0.923976              0
9    9          0, 1             0.242497             0.764085              1
10  10          0, 1             0.299372             0.731916              1
11  11          0, 1             0.104775             0.956520              0
12  12          0, 1             0.361949             0.713038              0
13  13          0, 1             0.184720             0.949746              1
14  14          0, 1             0.127584             0.835264              1
15  15          0, 1             0.196064             0.891644              1
16  16          0, 1             0.056633             0.977607              0
17  17          0, 1             0.126806             0.920641              0
18  18          0, 1             0.505645             0.507637              0
19  19             1             0.045042             0.998661              0
20  20          0, 1             0.669698             0.404344              1
21  21          0, 1             0.692878             0.224283              1
22  22          0, 1             0.018369             0.959220              1
23  23          0, 1             0.595132             0.421507              1
24  24          0, 1             0.046061             0.961096              0
25  25          0, 1             0.350544             0.773529              0
26  26          0, 1             0.653579             0.632953              0
27  27          0, 1             0.563281             0.483943              1
28  28          0, 1             0.425535             0.421252              1
29  29          0, 1             0.514899             0.519955              0
30  30          0, 1             0.270743             0.722930              1
31  31          0, 1             0.189237             0.856122              1
32  32          0, 1             0.376779             0.708851              1
33  33          0, 1             0.177359             0.905320              1
34  34          0, 1             0.672261             0.495416              0
35  35          0, 1             0.255570             0.732923              0
36  36          0, 1             0.759358             0.277209              1
37  37          0, 1             0.734519             0.288294              1
38  38          0, 1             0.534514             0.413167              0
39  39          0, 1             0.520634             0.418965              0

In [6]:
unc.predict(data=test_data, confidence=0.99)

    ID Predicted set  P-value for class 0  P-value for class 1  Actual values
0    0          0, 1             0.743805             0.338942              1
1    1          0, 1             0.361586             0.752536              0
2    2          0, 1             0.018746             0.971922              0
3    3          0, 1             0.293210             0.813037              0
4    4          0, 1             0.292752             0.717048              1
5    5          0, 1             0.394068             0.757615              1
6    6          0, 1             0.258620             0.687545              1
7    7          0, 1             0.772576             0.356760              1
8    8          0, 1             0.260157             0.747798              1
9    9          0, 1             0.371827             0.701951              0
10  10          0, 1             0.101689             0.999981              1
11  11          0, 1             0.321698             0.800099              0
12  12          0, 1             0.405402             0.547637              0
13  13          0, 1             0.571129             0.553893              1
14  14          0, 1             0.400752             0.718457              0
15  15          0, 1             0.396583             0.677558              1
16  16          0, 1             0.166261             0.891585              0
17  17          0, 1             0.210824             0.853276              0
18  18          0, 1             0.406804             0.808694              1
19  19          0, 1             0.284216             0.761638              0
20  20          0, 1             0.797691             0.202726              1
21  21          0, 1             0.101953             0.972385              0
22  22          0, 1             0.093742             0.985153              1
23  23          0, 1             0.098296             0.820069              0
24  24          0, 1             0.156550             0.850524              0
25  25          0, 1             0.202426             0.793545              1
26  26          0, 1             0.480337             0.619935              1
27  27          0, 1             0.319192             0.780569              0
28  28          0, 1             0.236042             0.766413              1
29  29          0, 1             0.717183             0.300611              1
30  30          0, 1             0.576359             0.668531              0
31  31          0, 1             0.283713             0.677208              1
32  32          0, 1             0.011586             0.978907              1
33  33          0, 1             0.211024             0.841773              0
34  34          0, 1             0.108245             0.918889              0
35  35          0, 1             0.576249             0.680030              1
36  36          0, 1             0.000481             0.983056              0
37  37          0, 1             0.542656             0.448802              1
38  38             1             0.019727             0.995729              0
39  39          0, 1             0.208716             0.800880              0

In [7]:
result = unc.evaluate(cal_data, confidence=[0.9, 0.95, 0.99])
display(result)

                  0.90      0.95     0.99
error          0.10000  0.025000  0.00000
avg_c          1.87500  1.950000  2.00000
one_c          0.12500  0.050000  0.00000
empty          0.00000  0.000000  0.00000
time_fit       0.00001  0.000010  0.00001
time_evaluate  0.00223  0.001753  0.00157

## REGRESSION

In [8]:
reg_train_data = create_regression_data(random_state=42)
reg_cal_data = create_regression_data(random_state=41)
reg_test_data = create_regression_data(random_state=40)

model_reg = ModelDeveloper(activity_col="Activity", id_col="ID", select_model="KNeighborsRegressor", n_jobs=-1)
model_reg.fit(reg_train_data)
model_reg.predict(test_data)

    ID  Predicted values
0    0         -6.161565
1    1         -8.379141
2    2         44.879611
3    3         23.483242
4    4        115.076877
5    5        -84.124758
6    6         84.661054
7    7         38.251261
8    8        -32.792953
9    9         -5.912005
10  10         -6.825731
11  11         75.578067
12  12         -2.599469
13  13         -1.227410
14  14         40.567193
15  15        -16.253174
16  16         70.573883
17  17        151.945940
18  18        -84.305577
19  19         78.926090
20  20         70.297479
21  21        139.585257
22  22         24.920393
23  23         82.976846
24  24         74.034335
25  25        -53.067832
26  26         -1.227410
27  27         -8.017087
28  28        -57.369197
29  29        -69.043768
30  30         38.273008
31  31         77.853091
32  32         53.527006
33  33        167.544971
34  34        -25.995118
35  35          1.476298
36  36         63.391298
37  37         47.492945
38  38         53.527006
39  39        -20.141809

In [9]:
unc_reg = ConformalPredictor(model=model_reg,activity_col="Activity", id_col="ID")
unc_reg.calibrate(data=reg_cal_data)
unc_reg.predict(data=reg_cal_data)

    ID  Predicted values  Lower Bound  Upper Bound  Actual values
0    0          7.518468  -318.074870   333.111806     365.899172
1    1        -77.732990  -403.326328   247.860348      61.207526
2    2         49.329340  -276.263998   374.922677     229.617185
3    3        -89.221669  -414.815007   236.371669     -42.182753
4    4         77.442364  -248.150974   403.035702    -194.474185
5    5         76.388893  -249.204444   401.982231      29.149098
6    6        -26.232642  -351.825980   299.360696     -76.713444
7    7         16.687456  -308.905881   342.280794      -6.300805
8    8         45.659792  -279.933546   371.253130     -62.648477
9    9         18.995789  -306.597549   344.589126    -251.304905
10  10          2.348955  -323.244383   327.942293    -151.549839
11  11         11.371440  -314.221898   336.964778    -104.811758
12  12        211.490774  -114.102564   537.084112     113.913027
13  13          6.932395  -318.660943   332.525733      39.664906
14  14        -30.689377  -356.282715   294.903961     -23.522450
15  15        117.655050  -207.938287   443.248388     170.332620
16  16        -25.312376  -350.905714   300.280962      72.411444
17  17         -6.101548  -331.694885   319.491790    -243.942562
18  18          3.232573  -322.360764   328.825911      55.542843
19  19         -6.097108  -331.690446   319.496230     207.959617
20  20         27.735086  -297.858251   353.328424      11.279529
21  21        145.988984  -179.604354   471.582321    -163.272134
22  22         14.450594  -311.142744   340.043931     183.493785
23  23         42.722944  -282.870394   368.316282    -170.729384
24  24        -70.528758  -396.122096   255.064580      18.141698
25  25        164.673188  -160.920150   490.266526      11.398995
26  26        143.340199  -182.253138   468.933537     468.933537
27  27        -67.613781  -393.207119   257.979556     181.789046
28  28        -33.079968  -358.673306   292.513370      -5.243329
29  29         55.823403  -269.769935   381.416741     -83.111823
30  30        193.996406  -131.596932   519.589743       9.255652
31  31        -42.500949  -368.094287   283.092389       4.054066
32  32         -7.173527  -332.766865   318.419810    -211.728145
33  33         56.619020  -268.974317   382.212358      -9.175221
34  34        -26.362744  -351.956082   299.230594    -120.018077
35  35        -77.716389  -403.309726   247.876949    -143.623790
36  36         34.164700  -291.428638   359.758038     -29.491639
37  37        155.406022  -170.187316   480.999360      14.040791
38  38         75.482891  -250.110447   401.076229    -105.576889
39  39         55.093940  -270.499398   380.687278     202.094662

In [10]:
unc_reg.predict(data=reg_test_data, confidence=0.99)

    ID  Predicted values  Lower Bound  Upper Bound  Actual values
0    0        -27.988923  -353.582261   297.604415     -54.166874
1    1        133.896230  -191.697108   459.489568      66.713880
2    2        108.093713  -217.499625   433.687051    -223.311602
3    3         30.488192  -295.105146   356.081530    -438.919188
4    4         40.711690  -284.881647   366.305028     -73.137329
5    5          2.298347  -323.294991   327.891684     321.578936
6    6        -48.555567  -374.148904   277.037771     164.945827
7    7        -69.564176  -395.157514   256.029162     321.462077
8    8         45.010447  -280.582891   370.603785      -1.291498
9    9         76.955709  -248.637629   402.549047     379.673690
10  10          6.788221  -318.805116   332.381559    -117.613053
11  11        128.654355  -196.938983   454.247693    -358.569296
12  12         32.947178  -292.646160   358.540516     110.817222
13  13        128.117524  -197.475814   453.710862     466.226329
14  14        -46.005926  -371.599264   279.587412      86.792145
15  15         89.163408  -236.429930   414.756746    -173.451774
16  16         85.948286  -239.645051   411.541624     198.430200
17  17        167.528235  -158.065102   493.121573      82.324369
18  18         17.815858  -307.777480   343.409196     597.313865
19  19        100.483219  -225.110119   426.076557      -0.315505
20  20        -34.004863  -359.598201   291.588475      45.490385
21  21         74.546224  -251.047114   400.139562     176.648055
22  22         45.294235  -280.299102   370.887573     220.544099
23  23          4.563616  -321.029722   330.156954     102.686070
24  24         -2.886734  -328.480072   322.706603     118.800219
25  25        -10.318944  -335.912282   315.274394     288.585163
26  26         92.746566  -232.846772   418.339903     140.772768
27  27         10.215727  -315.377611   335.809064     338.309644
28  28        -10.368220  -335.961557   315.225118    -253.545082
29  29        -22.934974  -348.528312   302.658364    -265.934961
30  30        201.388518  -124.204820   526.981856     310.841664
31  31        -64.263619  -389.856957   261.329718     483.793088
32  32        -44.319436  -369.912774   281.273902     -53.162873
33  33        151.079576  -174.513762   476.672914     595.727726
34  34         52.060969  -273.532369   377.654307      11.262354
35  35         50.855771  -274.737567   376.449109     216.925411
36  36         39.742155  -285.851183   365.335493     177.265114
37  37         17.225581  -308.367757   342.818919    -182.698353
38  38          2.173142  -323.420196   327.766479      83.642931
39  39         44.794385  -280.798953   370.387723    -192.360332

In [11]:
reg_test_data.head(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,...,Feature33,Feature34,Feature35,Feature36,Feature37,Feature38,Feature39,Feature40,ID,Activity
0,-0.352509,0.603596,0.888519,-0.379498,0.456003,0.231560,0.224634,0.768409,0.573097,-0.186394,...,-1.517027,-0.733490,0.370729,-1.218588,0.303954,3.437449,-0.729998,-0.212551,0,-54.166874
1,-0.638448,0.106805,0.579245,-1.469121,-0.463197,0.696390,0.219730,1.435638,0.727683,-1.266901,...,0.882372,-2.479989,2.750117,0.470592,-0.931520,-2.253930,-1.267910,-0.844501,1,66.713880
2,0.127791,0.160145,0.201655,-0.305343,-0.553895,-0.018380,0.212288,0.915757,-0.020053,-0.293106,...,0.302212,0.218784,-0.982779,1.711772,-0.170051,1.551404,-0.317209,-1.092495,2,-223.311602
3,-1.730417,0.309116,-0.277753,-0.325738,0.092337,-0.169391,0.967418,0.513416,-2.183757,-1.061362,...,0.743496,-0.892318,0.575248,0.207556,1.396478,-0.769391,-1.124178,-2.178363,3,-438.919188
4,-1.168060,0.769628,1.142491,-0.383104,0.008148,-1.213530,-0.272442,-0.051291,-0.952321,-1.133724,...,0.135771,0.517249,-1.785718,-0.060118,0.577909,-0.478411,-1.144777,-0.494021,4,-73.137329

In [12]:
unc_reg.evaluate(reg_cal_data, confidence=[0.9, 0.95, 0.99])

/home/labhhc4/anaconda3/envs/proqsar/lib/python3.11/site-packages/crepes/base.py:578: UserWarning: the no. of calibration examples is too smallfor the chosen confidence level; the intervals will be of maximum size
  warnings.warn("the no. of calibration examples is too small" \

                     0.90        0.95      0.99
error            0.075000    0.025000  0.000000
eff_mean       543.833098  651.186676       inf
eff_med        543.833098  651.186676       inf
time_fit         0.000008    0.000008  0.000008
time_evaluate    0.000113    0.000064  0.000416

In [13]:
no_y_data = reg_test_data.drop(columns='Activity', inplace=False)
no_y_data.head(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,...,Feature32,Feature33,Feature34,Feature35,Feature36,Feature37,Feature38,Feature39,Feature40,ID
0,-0.352509,0.603596,0.888519,-0.379498,0.456003,0.231560,0.224634,0.768409,0.573097,-0.186394,...,-1.950069,-1.517027,-0.733490,0.370729,-1.218588,0.303954,3.437449,-0.729998,-0.212551,0
1,-0.638448,0.106805,0.579245,-1.469121,-0.463197,0.696390,0.219730,1.435638,0.727683,-1.266901,...,1.274852,0.882372,-2.479989,2.750117,0.470592,-0.931520,-2.253930,-1.267910,-0.844501,1
2,0.127791,0.160145,0.201655,-0.305343,-0.553895,-0.018380,0.212288,0.915757,-0.020053,-0.293106,...,0.488229,0.302212,0.218784,-0.982779,1.711772,-0.170051,1.551404,-0.317209,-1.092495,2
3,-1.730417,0.309116,-0.277753,-0.325738,0.092337,-0.169391,0.967418,0.513416,-2.183757,-1.061362,...,-1.363525,0.743496,-0.892318,0.575248,0.207556,1.396478,-0.769391,-1.124178,-2.178363,3
4,-1.168060,0.769628,1.142491,-0.383104,0.008148,-1.213530,-0.272442,-0.051291,-0.952321,-1.133724,...,-0.542065,0.135771,0.517249,-1.785718,-0.060118,0.577909,-0.478411,-1.144777,-0.494021,4

In [14]:
unc_reg.evaluate(no_y_data, confidence=0.95)

KeyError: "'Activity' column is not found in the provided data. Please ensure that the data contains this column in order to use this function."

In [15]:
from IPython.display import display
from ProQSAR.ApplicabilityDomain.applicability_domain import ApplicabilityDomain

In [16]:
train_data.head(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,...,Feature33,Feature34,Feature35,Feature36,Feature37,Feature38,Feature39,Feature40,ID,Activity
0,1.053363,-0.186971,-1.065114,1.989145,0.028181,-1.311836,-0.755745,7.079563,-0.290275,0.010353,...,0.919076,-0.009119,0.817766,-1.161099,-2.521807,-0.231860,0.486502,0.536510,0,0
1,-1.302321,0.700310,0.493318,0.359700,0.186767,2.632382,0.026091,0.093234,0.982691,-0.949399,...,0.256030,-0.755383,-1.351685,-0.862925,3.193599,1.991874,-0.096060,0.517659,1,0
2,0.493151,-1.143005,1.105526,1.571264,-0.190682,1.050654,-1.053416,2.207330,-2.896255,0.201099,...,0.998010,0.217433,0.364961,0.070504,-0.841747,-1.963083,-0.754276,-0.623769,2,1
3,3.062493,1.117296,-1.251539,2.971553,0.650201,0.352055,-0.564079,-0.479588,-2.198806,-0.241236,...,-1.448014,-0.099176,-0.691908,0.637222,-0.691468,0.004744,0.447709,-1.280304,3,0
4,1.682497,1.160827,-0.362441,3.071084,-0.550305,-1.739714,0.395804,2.627580,0.883660,1.148766,...,-0.172627,-0.671623,-0.370614,-2.900122,-1.124807,-0.894226,0.477041,0.494030,4,1

In [19]:
ad = ApplicabilityDomain(method='lof', activity_col='Activity', id_col='ID')
ad.fit(train_data)

In [21]:
ad_values = ad.predict(train_data)
ad_values

   Applicability domain  ID
0                    in   0
1                    in   1
2                    in   2
3                    in   3
4                    in   4
5                    in   5
6                    in   6
7                    in   7
8                    in   8
9                    in   9
10                   in  10
11                   in  11
12                   in  12
13                   in  13
14                   in  14
15                   in  15
16                   in  16
17                   in  17
18                   in  18
19                   in  19
20                   in  20
21                   in  21
22                   in  22
23                   in  23
24                   in  24
25                   in  25
26                   in  26
27                   in  27
28                   in  28
29                   in  29
30                   in  30
31                   in  31
32                   in  32
33                   in  33
34                   in  34
35                   in  35
36                   in  36
37                   in  37
38                   in  38
39                  out  39

   Applicability domain
0                    in
1                    in
2                    in
3                    in
4                    in
5                    in
6                    in
7                    in
8                    in
9                    in
10                   in
11                   in
12                   in
13                   in
14                   in
15                   in
16                   in
17                   in
18                   in
19                   in
20                   in
21                   in
22                   in
23                   in
24                   in
25                   in
26                   in
27                   in
28                   in
29                   in
30                   in
31                   in
32                   in
33                   in
34                   in
35                   in
36                   in
37                   in
38                   in
39                   in

In [ ]:
ad.predict(X_test)

array([-0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5,
       -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5,
       -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5,
       -0.5, -0.5, -0.5, -0.5, -0.5, -0.5, -0.5])

In [ ]:
ad.predict(X_test)

array([0.07985261, 0.09524855, 0.02568171, 0.12721055, 0.15106405,
       0.15352611, 0.16804356, 0.169854  , 0.16869537, 0.14451552,
       0.16094203, 0.19649002, 0.19701688, 0.22309988, 0.21187386,
       0.23292453, 0.22524326, 0.24017089, 0.23771524, 0.2409936 ,
       0.2375617 , 0.24323891, 0.19277318, 0.23455938, 0.22275886,
       0.21767605, 0.21336508, 0.12873042, 0.16447175, 0.2007852 ,
       0.17340135, 0.14967104, 0.15285767, 0.14865575, 0.15615271,
       0.13664181, 0.03366138, 0.12102857, 0.03204309, 0.09346139])