In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from sklearn.datasets import make_classification, make_regression
from ProQSAR.ModelDeveloper.model_developer import ModelDeveloper
from ProQSAR.Uncertainty.conformal_predictor import ConformalPredictor

def create_classification_data(
    n_samples=40, n_features=40, n_informative=10, random_state=42
    ):
    X, y = make_classification(n_samples=n_samples, n_features=n_features,
                                n_informative=n_informative, random_state=random_state)
    data = pd.DataFrame(X, columns=[f'Feature{i}' for i in range(1, n_features + 1)])
    data["ID"] = np.arange(n_samples)
    data["Activity"] = y
    return data

def create_regression_data(
    n_samples=40, n_features=40, n_informative=10, random_state=42
    ):
    X, y = make_regression(n_samples=n_samples, n_features=n_features, n_informative=n_informative, random_state=random_state)
    data = pd.DataFrame(X, columns=[f'Feature{i}' for i in range(1, n_features + 1)])
    data["ID"] = np.arange(n_samples)
    data["Activity"] = y
    return data

train_data = create_classification_data(random_state=42)
cal_data = create_classification_data(random_state=41)
test_data = create_classification_data(random_state=40)

In [2]:
from IPython.display import display
model = ModelDeveloper(activity_col="Activity", id_col="ID", select_model="KNeighborsClassifier", n_jobs=-1)
model.fit(train_data)
model.classes_
model.predict(test_data)

    ID  Predicted values  Probability for class 0  Probability for class 1
0    0                 0                     0.55                     0.45
1    1                 1                     0.45                     0.55
2    2                 1                     0.35                     0.65
3    3                 1                     0.45                     0.55
4    4                 1                     0.45                     0.55
5    5                 1                     0.45                     0.55
6    6                 1                     0.45                     0.55
7    7                 0                     0.55                     0.45
8    8                 1                     0.45                     0.55
9    9                 1                     0.45                     0.55
10  10                 1                     0.35                     0.65
11  11                 1                     0.45                     0.55
12  12                 0                     0.50                     0.50
13  13                 0                     0.50                     0.50
14  14                 1                     0.45                     0.55
15  15                 1                     0.45                     0.55
16  16                 1                     0.40                     0.60
17  17                 1                     0.40                     0.60
18  18                 1                     0.45                     0.55
19  19                 1                     0.45                     0.55
20  20                 0                     0.55                     0.45
21  21                 1                     0.35                     0.65
22  22                 1                     0.35                     0.65
23  23                 1                     0.40                     0.60
24  24                 1                     0.40                     0.60
25  25                 1                     0.45                     0.55
26  26                 0                     0.50                     0.50
27  27                 1                     0.45                     0.55
28  28                 1                     0.45                     0.55
29  29                 0                     0.55                     0.45
30  30                 0                     0.50                     0.50
31  31                 1                     0.45                     0.55
32  32                 1                     0.30                     0.70
33  33                 1                     0.40                     0.60
34  34                 1                     0.40                     0.60
35  35                 0                     0.50                     0.50
36  36                 1                     0.25                     0.75
37  37                 0                     0.50                     0.50
38  38                 1                     0.30                     0.70
39  39                 1                     0.45                     0.55

In [3]:
# class: calibrate(X, y, oob=False, mc=None, seed=None, class_cond=False, nc=<function hinge>)
# reggg: calibrate(X, y, oob=False, mc=None, seed=None, cps=False, de=None)

In [4]:
unc = ConformalPredictor(model=model, activity_col="Activity", id_col="ID")
unc.calibrate(data=cal_data)
unc.predict(data=cal_data, confidence=0.99)

,ID,Predicted set,P-value for class 0,P-value for class 1,Observed values
0,0,"0, 1",0.273232,0.758749,0
1,1,"0, 1",0.314813,0.757213,1
2,2,"0, 1",0.693554,0.412950,0
3,3,"0, 1",0.192946,0.873858,0
4,4,"0, 1",0.105380,0.895793,0
5,5,"0, 1",0.635676,0.477526,1
6,6,"0, 1",0.406674,0.749340,0
7,7,"0, 1",0.175624,0.813302,1
8,8,"0, 1",0.211999,0.827539,0
9,9,"0, 1",0.271925,0.745807,1
10,10,"0, 1",0.307425,0.748295,1
11,11,"0, 1",0.090951,0.993352,0
12,12,"0, 1",0.283793,0.699833,0
13,13,"0, 1",0.182444,0.868265,1
14,14,"0, 1",0.162337,0.816881,1
15,15,"0, 1",0.206955,0.942215,1
16,16,"0, 1",0.040046,0.967958,0
17,17,"0, 1",0.180390,0.891331,0
18,18,"0, 1",0.452874,0.493715,0
19,19,"0, 1",0.046006,0.975912,0
20,20,"0, 1",0.654763,0.606703,1
21,21,"0, 1",0.749321,0.325074,1
22,22,"0, 1",0.028931,0.974115,1
23,23,"0, 1",0.582919,0.618246,1
24,24,"0, 1",0.035112,0.972172,0
25,25,"0, 1",0.356212,0.786099,0
26,26,"0, 1",0.522424,0.500861,0
27,27,"0, 1",0.623036,0.574412,1
28,28,"0, 1",0.554613,0.660467,1
29,29,"0, 1",0.674239,0.672043,0
30,30,"0, 1",0.265764,0.824899,1
31,31,"0, 1",0.155611,0.838060,1
32,32,"0, 1",0.399447,0.817945,1
33,33,"0, 1",0.148202,0.805428,1
34,34,"0, 1",0.543884,0.454456,0
35,35,"0, 1",0.337676,0.828697,0
36,36,"0, 1",0.680148,0.199641,1
37,37,"0, 1",0.824728,0.352601,1
38,38,"0, 1",0.494032,0.481041,0
39,39,"0, 1",0.414535,0.587880,0

In [5]:
unc.predict(data=test_data, confidence=0.99)

,ID,Predicted set,P-value for class 0,P-value for class 1,Observed values
0,0,"0, 1",0.745012,0.273353,1
1,1,"0, 1",0.389699,0.825183,0
2,2,1,0.061596,0.974650,0
3,3,"0, 1",0.396129,0.751243,0
4,4,"0, 1",0.306272,0.733062,1
5,5,"0, 1",0.395895,0.809384,1
6,6,"0, 1",0.374681,0.778295,1
7,7,"0, 1",0.803666,0.304955,1
8,8,"0, 1",0.280230,0.685710,1
9,9,"0, 1",0.374064,0.739944,0
10,10,"0, 1",0.078579,0.961139,1
11,11,"0, 1",0.393416,0.722677,0
12,12,"0, 1",0.433325,0.664792,0
13,13,"0, 1",0.640960,0.420445,1
14,14,"0, 1",0.316636,0.682774,0
15,15,"0, 1",0.278909,0.693294,1
16,16,"0, 1",0.137048,0.925798,0
17,17,"0, 1",0.102813,0.937225,0
18,18,"0, 1",0.353328,0.782819,1
19,19,"0, 1",0.414035,0.828967,0
20,20,"0, 1",0.745623,0.282618,1
21,21,"0, 1",0.066197,0.951895,0
22,22,1,0.019658,0.984202,1
23,23,"0, 1",0.116208,0.927787,0
24,24,"0, 1",0.172381,0.861564,0
25,25,"0, 1",0.268774,0.686710,1
26,26,"0, 1",0.501073,0.404599,1
27,27,"0, 1",0.380904,0.786346,0
28,28,"0, 1",0.242558,0.816765,1
29,29,"0, 1",0.706025,0.380696,1
30,30,"0, 1",0.483117,0.463522,0
31,31,"0, 1",0.387326,0.733975,1
32,32,1,0.021975,0.996901,1
33,33,"0, 1",0.150839,0.830662,0
34,34,"0, 1",0.115330,0.944749,0
35,35,"0, 1",0.627687,0.489980,1
36,36,"0, 1",0.008544,0.977190,0
37,37,"0, 1",0.650085,0.676681,1
38,38,1,0.000627,0.995825,0
39,39,"0, 1",0.403962,0.681713,0

In [6]:
result = unc.evaluate(cal_data, confidence=[0.9, 0.95, 0.99])
display(result)

                   0.90      0.95      0.99
error          0.075000  0.075000  0.025000
avg_c          1.900000  1.900000  1.975000
one_c          0.100000  0.100000  0.025000
empty          0.000000  0.000000  0.000000
time_fit       0.000019  0.000019  0.000019
time_evaluate  0.005265  0.001683  0.001322

## REGRESSION

In [7]:
reg_train_data = create_regression_data(random_state=42)
reg_cal_data = create_regression_data(random_state=41)
reg_test_data = create_regression_data(random_state=40)

model_reg = ModelDeveloper(activity_col="Activity", id_col="ID", select_model="KNeighborsRegressor", n_jobs=-1)
model_reg.fit(reg_train_data)
model_reg.predict(test_data)

    ID  Predicted values
0    0         -6.161565
1    1         -8.379141
2    2         44.879611
3    3         23.483242
4    4        115.076877
5    5        -84.124758
6    6         84.661054
7    7         38.251261
8    8        -32.792953
9    9         -5.912005
10  10         -6.825731
11  11         75.578067
12  12         -2.599469
13  13         -1.227410
14  14         40.567193
15  15        -16.253174
16  16         70.573883
17  17        151.945940
18  18        -84.305577
19  19         78.926090
20  20         70.297479
21  21        139.585257
22  22         24.920393
23  23         82.976846
24  24         74.034335
25  25        -53.067832
26  26         -1.227410
27  27         -8.017087
28  28        -57.369197
29  29        -69.043768
30  30         38.273008
31  31         77.853091
32  32         53.527006
33  33        167.544971
34  34        -25.995118
35  35          1.476298
36  36         63.391298
37  37         47.492945
38  38         53.527006
39  39        -20.141809

In [8]:
unc_reg = ConformalPredictor(model=model_reg,activity_col="Activity", id_col="ID")
unc_reg.calibrate(data=reg_cal_data)
unc_reg.predict(data=reg_cal_data)

    ID  Predicted values  Lower Bound  Upper Bound  Observed values
0    0          7.518468  -318.074870   333.111806       365.899172
1    1        -77.732990  -403.326328   247.860348        61.207526
2    2         49.329340  -276.263998   374.922677       229.617185
3    3        -89.221669  -414.815007   236.371669       -42.182753
4    4         77.442364  -248.150974   403.035702      -194.474185
5    5         76.388893  -249.204444   401.982231        29.149098
6    6        -26.232642  -351.825980   299.360696       -76.713444
7    7         16.687456  -308.905881   342.280794        -6.300805
8    8         45.659792  -279.933546   371.253130       -62.648477
9    9         18.995789  -306.597549   344.589126      -251.304905
10  10          2.348955  -323.244383   327.942293      -151.549839
11  11         11.371440  -314.221898   336.964778      -104.811758
12  12        211.490774  -114.102564   537.084112       113.913027
13  13          6.932395  -318.660943   332.525733        39.664906
14  14        -30.689377  -356.282715   294.903961       -23.522450
15  15        117.655050  -207.938287   443.248388       170.332620
16  16        -25.312376  -350.905714   300.280962        72.411444
17  17         -6.101548  -331.694885   319.491790      -243.942562
18  18          3.232573  -322.360764   328.825911        55.542843
19  19         -6.097108  -331.690446   319.496230       207.959617
20  20         27.735086  -297.858251   353.328424        11.279529
21  21        145.988984  -179.604354   471.582321      -163.272134
22  22         14.450594  -311.142744   340.043931       183.493785
23  23         42.722944  -282.870394   368.316282      -170.729384
24  24        -70.528758  -396.122096   255.064580        18.141698
25  25        164.673188  -160.920150   490.266526        11.398995
26  26        143.340199  -182.253138   468.933537       468.933537
27  27        -67.613781  -393.207119   257.979556       181.789046
28  28        -33.079968  -358.673306   292.513370        -5.243329
29  29         55.823403  -269.769935   381.416741       -83.111823
30  30        193.996406  -131.596932   519.589743         9.255652
31  31        -42.500949  -368.094287   283.092389         4.054066
32  32         -7.173527  -332.766865   318.419810      -211.728145
33  33         56.619020  -268.974317   382.212358        -9.175221
34  34        -26.362744  -351.956082   299.230594      -120.018077
35  35        -77.716389  -403.309726   247.876949      -143.623790
36  36         34.164700  -291.428638   359.758038       -29.491639
37  37        155.406022  -170.187316   480.999360        14.040791
38  38         75.482891  -250.110447   401.076229      -105.576889
39  39         55.093940  -270.499398   380.687278       202.094662

In [9]:
unc_reg.predict(data=reg_test_data, confidence=0.99)

    ID  Predicted values  Lower Bound  Upper Bound  Observed values
0    0        -27.988923  -353.582261   297.604415       -54.166874
1    1        133.896230  -191.697108   459.489568        66.713880
2    2        108.093713  -217.499625   433.687051      -223.311602
3    3         30.488192  -295.105146   356.081530      -438.919188
4    4         40.711690  -284.881647   366.305028       -73.137329
5    5          2.298347  -323.294991   327.891684       321.578936
6    6        -48.555567  -374.148904   277.037771       164.945827
7    7        -69.564176  -395.157514   256.029162       321.462077
8    8         45.010447  -280.582891   370.603785        -1.291498
9    9         76.955709  -248.637629   402.549047       379.673690
10  10          6.788221  -318.805116   332.381559      -117.613053
11  11        128.654355  -196.938983   454.247693      -358.569296
12  12         32.947178  -292.646160   358.540516       110.817222
13  13        128.117524  -197.475814   453.710862       466.226329
14  14        -46.005926  -371.599264   279.587412        86.792145
15  15         89.163408  -236.429930   414.756746      -173.451774
16  16         85.948286  -239.645051   411.541624       198.430200
17  17        167.528235  -158.065102   493.121573        82.324369
18  18         17.815858  -307.777480   343.409196       597.313865
19  19        100.483219  -225.110119   426.076557        -0.315505
20  20        -34.004863  -359.598201   291.588475        45.490385
21  21         74.546224  -251.047114   400.139562       176.648055
22  22         45.294235  -280.299102   370.887573       220.544099
23  23          4.563616  -321.029722   330.156954       102.686070
24  24         -2.886734  -328.480072   322.706603       118.800219
25  25        -10.318944  -335.912282   315.274394       288.585163
26  26         92.746566  -232.846772   418.339903       140.772768
27  27         10.215727  -315.377611   335.809064       338.309644
28  28        -10.368220  -335.961557   315.225118      -253.545082
29  29        -22.934974  -348.528312   302.658364      -265.934961
30  30        201.388518  -124.204820   526.981856       310.841664
31  31        -64.263619  -389.856957   261.329718       483.793088
32  32        -44.319436  -369.912774   281.273902       -53.162873
33  33        151.079576  -174.513762   476.672914       595.727726
34  34         52.060969  -273.532369   377.654307        11.262354
35  35         50.855771  -274.737567   376.449109       216.925411
36  36         39.742155  -285.851183   365.335493       177.265114
37  37         17.225581  -308.367757   342.818919      -182.698353
38  38          2.173142  -323.420196   327.766479        83.642931
39  39         44.794385  -280.798953   370.387723      -192.360332

In [10]:
reg_test_data.head(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,...,Feature33,Feature34,Feature35,Feature36,Feature37,Feature38,Feature39,Feature40,ID,Activity
0,-0.352509,0.603596,0.888519,-0.379498,0.456003,0.231560,0.224634,0.768409,0.573097,-0.186394,...,-1.517027,-0.733490,0.370729,-1.218588,0.303954,3.437449,-0.729998,-0.212551,0,-54.166874
1,-0.638448,0.106805,0.579245,-1.469121,-0.463197,0.696390,0.219730,1.435638,0.727683,-1.266901,...,0.882372,-2.479989,2.750117,0.470592,-0.931520,-2.253930,-1.267910,-0.844501,1,66.713880
2,0.127791,0.160145,0.201655,-0.305343,-0.553895,-0.018380,0.212288,0.915757,-0.020053,-0.293106,...,0.302212,0.218784,-0.982779,1.711772,-0.170051,1.551404,-0.317209,-1.092495,2,-223.311602
3,-1.730417,0.309116,-0.277753,-0.325738,0.092337,-0.169391,0.967418,0.513416,-2.183757,-1.061362,...,0.743496,-0.892318,0.575248,0.207556,1.396478,-0.769391,-1.124178,-2.178363,3,-438.919188
4,-1.168060,0.769628,1.142491,-0.383104,0.008148,-1.213530,-0.272442,-0.051291,-0.952321,-1.133724,...,0.135771,0.517249,-1.785718,-0.060118,0.577909,-0.478411,-1.144777,-0.494021,4,-73.137329

In [11]:
unc_reg.evaluate(reg_cal_data, confidence=[0.9, 0.95, 0.99])

/home/labhhc4/anaconda3/envs/proqsar/lib/python3.11/site-packages/crepes/base.py:578: UserWarning: the no. of calibration examples is too smallfor the chosen confidence level; the intervals will be of maximum size
  warnings.warn("the no. of calibration examples is too small" \

                     0.90        0.95      0.99
error            0.075000    0.025000  0.000000
eff_mean       543.833098  651.186676       inf
eff_med        543.833098  651.186676       inf
time_fit         0.000006    0.000006  0.000006
time_evaluate    0.000092    0.000052  0.000343

In [12]:
no_y_data = reg_test_data.drop(columns='Activity', inplace=False)
no_y_data.head(5)

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Feature10,...,Feature32,Feature33,Feature34,Feature35,Feature36,Feature37,Feature38,Feature39,Feature40,ID
0,-0.352509,0.603596,0.888519,-0.379498,0.456003,0.231560,0.224634,0.768409,0.573097,-0.186394,...,-1.950069,-1.517027,-0.733490,0.370729,-1.218588,0.303954,3.437449,-0.729998,-0.212551,0
1,-0.638448,0.106805,0.579245,-1.469121,-0.463197,0.696390,0.219730,1.435638,0.727683,-1.266901,...,1.274852,0.882372,-2.479989,2.750117,0.470592,-0.931520,-2.253930,-1.267910,-0.844501,1
2,0.127791,0.160145,0.201655,-0.305343,-0.553895,-0.018380,0.212288,0.915757,-0.020053,-0.293106,...,0.488229,0.302212,0.218784,-0.982779,1.711772,-0.170051,1.551404,-0.317209,-1.092495,2
3,-1.730417,0.309116,-0.277753,-0.325738,0.092337,-0.169391,0.967418,0.513416,-2.183757,-1.061362,...,-1.363525,0.743496,-0.892318,0.575248,0.207556,1.396478,-0.769391,-1.124178,-2.178363,3
4,-1.168060,0.769628,1.142491,-0.383104,0.008148,-1.213530,-0.272442,-0.051291,-0.952321,-1.133724,...,-0.542065,0.135771,0.517249,-1.785718,-0.060118,0.577909,-0.478411,-1.144777,-0.494021,4

In [13]:
unc_reg.evaluate(no_y_data, confidence=0.95)

KeyError: "'Activity' column is not found in the provided data. Please ensure that the data contains this column in order to use this function."